.col-lg-3.p-0.m-0
    .adview.d-none.d-lg-block.ms-lg-3.mt-lg-5
        // Place your ad codes here
        .ad-placeholder
            | Place 
            br
            |               Your 
            br
            | Ad Here