// Navbar Start
nav.navbar.navbar-expand-lg.bg-white
  .container
    a.navbar-brand(href='/')
      img(src='./assets/logo.png' alt='SSL Tools')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link(aria-current='page' href='/' class=(name === 'index' ? 'active':undefined)) CSR Generator
        li.nav-item
          a.nav-link(aria-current='page' href='/convert' class=(name === 'convert' ? 'active':undefined)) SSL Converter
        li.nav-item
          a.nav-link(aria-current='page' href='/matcher' class=(name === 'matcher' ? 'active':undefined)) Key Matcher
        li.nav-item
          a.nav-link(aria-current='page' href='#')  Let's Encrypt Generator
        li.nav-item
          a.nav-link(aria-current='page' href='#') HTML 2 PUG
// Navbar End