extends base

block content
    // Content Start
    script(src='./assets/jszip.min.js')
    script(src='./assets/FileSaver.min.js')    
    #custom_content.col-lg-6.custom-content
        h1 Generator
        h3.mt-3.mb-3
            | Your SSL Certificate Is Generated!
        p Recall this certificate is valid for 364 days!
        button.custom-button.w-100.mt-2 
            i.fa-solid.fa-cloud-arrow-down  
            | Download Zip File
        br
        hr
        p Command: #{data.cert.cmd.command}
        textarea#csr.form-control.mt-1(cols='30' rows='8' readonly)= data.csr 
        span.helper-text CSR
        br
        textarea#key.form-control.mt-1(cols='50' rows='8' readonly)= data.key 
        pan.helper-text PRIVATE KEY
        br
        textarea#cert.form-control.mt-1(cols='50' rows='8' readonly)= data.cert.cert
        span.helper-text CERTIFICATE (SELF-SIGNED)
        
        br
        
        hr
        button.custom-button.w-100.mt-2 
            i.fa-solid.fa-cloud-arrow-down  
            | Download Zip File
        
    // Content End
    script(type='text/javascript').
        document.querySelector('#custom_content').addEventListener('click', function (event) {
                        
            if(event.target.closest('button')){
                <!-- Read values from the form -->
                const csr = document.querySelector('#csr').value;
                const key = document.querySelector('#key').value;
                const cert = document.querySelector('#cert').value;

                <!-- Generate zip file for download -->
                const zip = new JSZip();
                zip.file('cert.csr', csr);
                zip.file('priv.key', key);
                zip.file('cert.crt', cert);
                zip.generateAsync({ type: 'blob' }).then((content) => {
                    saveAs(content, 'certificate.zip');
                });
            }
        });