extends base

block content
    // Content Start
    #custom_content.col-lg-6.custom-content
        h1 
            i.fa-solid.fa-gears
            |  PEM to PKCS#12
        h3.mt-3.mb-3
            | The goal of this tool is to provide web GUI for basic x509v3 certificates conversion operations..
        label Attach Certificate File *
            .form-upload
                i.fa-solid.fa-paperclip
                span.bold  Add file         
                input#form-upload__input.form-upload__input(type='file' data-attach='certifiicate')
        .form-upload_file(data-attach='certifiicate')
        br
        label Attach Key File *
            .form-upload
                    i.fa-solid.fa-paperclip
                    span.bold  Add file            
                    input.form-upload__input(type='file' data-attach='key')
        .form-upload_file(data-attach='key')
        br
        label Attach Bundle File (optional)
            .form-upload
                    i.fa-solid.fa-paperclip
                    span.bold  Add file            
                    input.form-upload__input(type='file' data-attach='bundle')
        .form-upload_file(data-attach='bundle')
        br
        label Password *
        input#domains.form-control.mt-2(type='password' placeholder='Type a password')
        hr
        button#btn_generate_ssl.custom-button.w-100.mt-2 
            i.fa-solid.fa-gears.fa-beat
            | Convert


    // Content End
    script(src='./assets/convert.js' type='module')