extends base

block content
    // Content Start
    #custom_content.col-lg-6.custom-content
        h1 
            i.fa-solid.fa-gears
            |  PEM to PKCS#12
        h3.mt-3.mb-3
            | The goal of this tool is to provide web GUI for basic x509v3 certificates conversion operations..
        label#certLabel(for='cert' style='cursor: pointer; font-weight: bold; ') 
            i.fa-solid.fa-certificate(style='color:green') 
            span(style='color:#3f51b5')  Attach Certificate File *  
            input#cert(type='file' style='display: none;')
        span#description()
        br
        br
        label#certLabel(for='cert' style='cursor: pointer; font-weight: bold') 
            i.fa-solid.fa-key(style='color:green')   
            span(style='color:#3f51b5')  Attach key file * 
            input#cert(type='file' style='display: none;')
        span#description(style='color: #3f51b5; border-bottom: solid')
        br
        br
        label#certLabel(for='cert' style='cursor: pointer; font-weight: bold; ') 
            i.fa-solid.fa-paperclip(style='color:green')   
            span(style='color:#3f51b5')  Attach Bundle File  
            input#cert(type='file' style='display: none;')
        span#description(style='color: #3f51b5; border-bottom: solid')
        br
        
        
        input#domains.form-control.mt-2(type='password' placeholder='Type a password')
        

       
        
        
        hr
        button#btn_generate_ssl.custom-button.w-100.mt-2 
            i.fa-solid.fa-gears.fa-beat
            | Convert
    // Content End
    script(src='./assets/convert.js' type='module')